@import "~bootstrap/scss/bootstrap";
@import "../../assets/styles/customColors";

.toolbar{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: $dark-theme-darker-bg;
    border-bottom: 2px solid $dark-theme-border;
    box-shadow: 0 4px 4px -4px $dark-theme-shadow;
}

.shell-logo-container{
    padding: 10px;
}

.shell-logo{
    height: 40px;
}